@import "tailwindcss";
@import "tw-animate-css";
@import "./themes/base.css";
@import "./themes/shadcn.css";
@import "./themes/user-header.css";
@import "./themes/feed-card.css";
@import "./themes/favorite-card.css";
@import "./themes/feed-category-tabs.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Webkit系ブラウザ用 */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 9999px;
  }

  /* Firefox用 */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
}
