@theme inline {
  --color-favorite-card-background: var(--favorite-card-background);
  --color-favorite-card-background-curated: var(
    --favorite-card-background-curated
  );
  --color-favorite-card-foreground: var(--favorite-card-foreground);
  --color-favorite-card-foreground-curated: var(
    --favorite-card-foreground-curated
  );
  --color-favorite-card-menu-background: var(--favorite-card-menu-background);
  --color-favorite-card-menu-foreground: var(--favorite-card-menu-foreground);
  --color-favorite-card-star: var(--favorite-card-star);
}

:root {
  --favorite-card-background: transparent;
  --favorite-card-background-curated: var(--color-gray-200);
  --favorite-card-foreground: var(--color-gray-800);
  --favorite-card-foreground-curated: var(--color-gray-500);
  --favorite-card-menu-background: var(--color-gray-50);
  --favorite-card-menu-foreground: var(--color-gray-700);
  --favorite-card-star: var(--color-yellow-400);
}

.dark {
  /* TODO: ダークテーマ対応の際に再調整 */
}
