@theme inline {
  --color-feed-category-tabs-background: var(--feed-category-tabs-background);
  --color-feed-category-tabs-trigger-foreground: var(
    --feed-category-tabs-trigger-foreground
  );
  --color-feed-category-tabs-trigger-foreground-active: var(
    --feed-category-tabs-trigger-foreground-active
  );
}

:root {
  --feed-category-tabs-background: var(--gray-50);
  --feed-category-tabs-trigger-foreground: var(--gray-600);
  --feed-category-tabs-trigger-foreground-active: var(--gray-900);
}

.dark {
  /* TODO: ダークテーマ対応の際に再調整 */
}
