@theme inline {
  --color-feed-card-background-hover: var(--feed-card-background-hover);
  --color-feed-card-icon-favorite: var(--feed-card-icon-favorite);
}

:root {
  --feed-card-background-hover: var(--color-gray-100);
  --feed-card-icon-favorite: var(--color-red-500);
}

.dark {
  /* TODO: ダークテーマ対応の際に再調整 */
}
