@theme inline {
  --color-user-header-background: var(--user-header-background);
  --color-user-header-foreground: var(--user-header-foreground);
}

:root {
  --user-header-background: var(--color-gray-100);
  --user-header-foreground: var(--color-gray-600);
}

.dark {
  /* TODO: ダークテーマ対応の際に再調整 */
}
